* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: black;
}

/* fuente websymbols */

@font-face {
  font-family: "websymbols";
  src: url(../fonts/websymbols-regular-webfont.eot);
  src: url(../fonts/websymbols-regular-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/websymbols-regular-webfont.svg) format("svg"),
    url(../fonts/websymbols-regular-webfont.ttf) format("truetype"),
    url(../fonts/websymbols-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

#content_site {
  margin: 30px auto;
  width: 95%;
  border: 0.5px solid lightgray;
  box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.87),
    0px 0px 8px rgba(211, 211, 211, 0.724), 0px 0px 3px whitesmoke inset;
}

/* inicio header */

#header {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.header_title {
  padding: 15px;
}

.header_title h1,
#footer h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
}

/* inicio menu header */
#nav {
  flex-basis: 500px;
}

#nav .icon_menu_responsive {
  display: none;
  font-family: "websymbols";
  font-size: 3rem;
}

#nav .check_menu_responsive {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu .menu_item {
  list-style: none;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
}

.menu .menu_item:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.menu .menu_item .menu_item_link {
  text-transform: uppercase;
  font-size: 2rem;
}

/* fin menu header */

/* fin header */

/* inicio main */
#main {
  display: flex;
  justify-content: space-between;
}

/* inicio aside */

#left {
  margin-top: 30px;
  flex-basis: 170px;
  flex-shrink: 1;
}

.widgets .widget h3 {
  display: block;
  width: 161px;
  margin: 0px auto;
  padding: 5px;
  font-size: 1.6rem;
  text-align: center;
  text-transform: capitalize;
  border-bottom: 2px solid whitesmoke;
}

.widget .widget_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 230px;
  list-style: none;
}

.widget .widget_menu .widget_menu_item .widget_menu_item_link {
  display: block;
  height: 40px;
  width: 135px;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  background-color: whitesmoke;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.widget .widget_menu .widget_menu_item .widget_menu_item_link:hover {
  background-color: gray;
  color: white;
  font-style: italic;
}

.widget .widget_menu .widget_menu_item .widget_menu_item_link:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
/* fin aside */

/* inicio galería de imágenes */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery .gallery_img {
  flex-basis: 20%;
  margin: 10px;
  cursor: pointer;
  border: 1.5px solid lightgrey;
  box-shadow: 1px 2px 3px grey, 0px 0px 3px lightgray inset;
  overflow: hidden;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.gallery .gallery_img:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.gallery .gallery_img img {
  width: 100%;
}

.gallery .gallery_img_description {
  padding: 3px;
}

.gallery .gallery_img_description h4 {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.gallery .gallery_img_description p {
  font-size: 1.1rem;
  text-transform: capitalize;
}

/* fin galería de imágenes */

/* fin main */

/* inicio footer */

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
#footer h1 {
  color: lightgrey;
}

#footer p {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
}
/* fin footer */

/* inicio responsive querys */

@media screen and (max-width: 630px) {
  #nav {
    flex-basis: 50px;
  }

  #nav .icon_menu_responsive {
    display: block;
  }

  #nav .menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 150px;
    top: 80px;
    right: 0px;
    opacity: 0;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
  }

  #nav .menu_item {
    width: 100%;
  }

  #nav .menu_item_link {
    display: block;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: 0px 0px 2px rgb(0, 0, 0), 0px 0px 2px lightgray inset;
    line-height: 50px;
  }

  #nav .check_menu_responsive:checked + .menu {
    opacity: 1;
  }

  #main {
    flex-direction: column;
  }

  .widget .widget_menu {
    height: 180px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .widget_menu_item {
    margin: 5px;
  }

  .gallery .gallery_img {
    flex-basis: 30%;
    flex-shrink: 1;
  }

  #footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .gallery .gallery_img {
    flex-basis: 80%;
    flex-shrink: 1;
  }
}

/* fin responsive querys */
